# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
coverage/
*.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Misc
*.class
*.pyc
*.swp
.DS_Store

# Flutter specific
**/ios/Flutter/.last_build_id
