name: fikr_less
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  country_picker: ^2.0.27
  pinput: ^5.0.2
  shared_preferences: ^2.2.1
  http: ^1.2.2
  google_fonts: ^6.3.2
  provider: ^6.0.5
  flutter_localizations:

    sdk: flutter

dev_dependencies:
  flutter_launcher_icons: ^0.14.4
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  generate: true

  assets:
  - assets/images/
  - assets/images/before_login/
  - assets/images/splash_screen/
  - assets/images/otp_screen/
  # - assets/icon/  # Uncomment if you add icons folder

flutter_icons:
  android: true
  ios: true
  image_path: "assets/images/app_icon.png"
